<ion-content>

  <img src="../assets/backk.png" class="iconn" [routerLink]="['/tabs/profile']">

  <form [formGroup]="updateDataForm" (ngSubmit)="updateUserProfile()" style="margin-top: 21px;">
    <div class="sameLine">
      <img src="../assets/profile.png" width="80" height="80" style="margin-right: 20px;margin-left: 30px;">
     
        
        <p class="subb">Change Profile Photo</p>

     
    </div>
    
    <div class="centerise">
      <div class="textboxxes">
        <ion-card class="textCard">
          <ion-item>
            <ion-icon name="person-outline" style="margin-right: 8px;"></ion-icon>
            <ion-input name="Last name" type="name" formControlName="firstName" value="Jane"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card class="textCard1">
          <ion-item lines='none'>
            <ion-icon name="person-outline" style="margin-right: 8px;"></ion-icon>
            <ion-input name="Last Name" type="name" formControlName="lastName" value="Doe"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card class="textCard1">
          <ion-item>
            <ion-icon name="mail-outline" style="margin-right: 8px;"></ion-icon>
            <ion-input name="Email" type="email" formControlName="email" value="lemao@gmail.com"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card class="textCard1">
          <ion-item lines='none'>
            <ion-icon name="call-outline" style="margin-right: 8px;"></ion-icon>
            <ion-input name="Phone Number" type="number" formControlName="phoneNumber" value="99999999"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card class="textCard1">
          <ion-item lines='none'>
            <ion-icon name="lock-closed-outline" style="margin-right: 8px;"></ion-icon>
            <ion-input name="Password" type="password" formControlName="password" value="123456789"></ion-input>
          </ion-item>
        </ion-card>

        <ion-button type="submit"  
          style="border-radius: 25px;color: #F5585C; width: 138px; height: 50px; margin-top: 23px;box-shadow: 5px 5px 5px lightgray;"
          color="primary">
          <ion-label style="color: white;text-transform: none;font-size: 16px;font-family: 'Sen', sans-serif;">
            <b>Save Changes</b>
          </ion-label>
        </ion-button>
      </div>

    </div>
  </form>

      <!--<ion-textarea class="textFieldd" placeholder="Email" value="JaneDoe@gmail.com" disabled></ion-textarea> -->

</ion-content>