


<ion-content >
  <div class="centerise">
  <img src="../assets/ESPRESSO.png" class="espresso">
  <div> 
    <img src="../assets/selectionCoffee.png" class="imggg">
  </div>
<div class="flexbtn" >
  <ion-button [routerLink]="['/singtel-staff-registration']"
  style="border-radius: 25px;color: #F5585C; width: 285px; height: 47px; margin-top: 150px; font-size: 24px;" color="primary">
  <ion-label
    style="color: white;text-transform: none;font-size: 16px;font-family: 'Sen', sans-serif;">
    <b>Connect to Singtel <br> Account</b>
  </ion-label>
</ion-button>

<ion-button [routerLink]="['/tabs/stalls']"
style="border-radius: 25px;color: #F5585C; width: 285px; height: 47px; font-size: 24px;margin-top: 10px;" color="primary">
<ion-label
  style="color: white;text-transform: none;font-size: 21px;font-family: 'Sen', sans-serif;">
  No
</ion-label>
</ion-button>
</div>
</div>

</ion-content>
