

<ion-content>
  <div class="textboxxes">
    <ion-card class="textCard">
      <ion-item>
        <ion-icon name="person-outline" style="margin-right: 8px;"></ion-icon>
        <ion-input name="Fname" type="name" placeholder="First Name" value="Jane" ></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="textCard1">
      <ion-item lines='none'>
        <ion-icon name="person-outline" style="margin-right: 8px;"></ion-icon>
        <ion-input name="Lname" type="name" placeholder="Last Name" value="doe"></ion-input>
      </ion-item>
    </ion-card>
    
    <ion-button type="submit"  
    style="border-radius: 25px;color: #F5585C; width: 80%; height: 50px; margin-top: 29px;margin-bottom:16px; box-shadow: 5px 5px 5px lightgray;"
    color="primary">
    <ion-label style="color: white;text-transform: none;font-size: 16px;font-family: 'Sen', sans-serif;">
      <b>Done</b>
    </ion-label>
  </ion-button>
    </div>

</ion-content>
