<ion-content>
  <ion-refresher slot="fixed" pull-factor="0.5" pull-min="100" pull-max="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pulling-icon="chevron-down-circle-outline" pulling-text="Pull to refresh"
      refreshing-spinner="circles" refreshing-text="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <h1 class="headerr">Orders</h1>
  </div>

  <div class="wrap-collabsible" *ngFor="let order of orderStatus">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">
      <div style="display: flex;flex-direction: row;margin-top: 5px;margin-left: 8px;align-items: center;">
        <div style="display: flex;flex-direction: column;margin-top: 5px;">
          <p style="margin-bottom: 0px;margin-top: 8px;">Stall Name: {{order.stallID}} </p>
          <p style="margin-bottom: 0px;margin-top: 8px;">Order ID: {{order.OrderID}} </p>
          <p style="margin-bottom: 0px;margin-top: 8px;">Status: {{order.Status}} </p>
        </div>

      </div>
    </label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div
          style="display: flex;flex-direction: column;align-items: center;justify-content: center;margin-bottom: -2px;">
          <ion-row>
            <p style="font-weight: bold;margin-right: 18px;">Indian Pizza</p>
            <p style="margin-right: 88px;">x2</p>
            <p>$5.00</p>
            <hr>

          </ion-row>
          <div style="display: flex;flex-direction: column;">
            <div
              style="display:flex;flex-direction:row;font-size: 14px;justify-content:space-around;margin-top:5px;font-family: 'Open Sans';">
              <p> Subtotal: </p>
              <p style="margin-left:50px"> $5.00 </p>
            </div>
            <div
              style="display:flex;flex-direction:row;font-size: 14px;justify-content:space-around;margin-top:-15px;font-family: 'Open Sans';">
              <p> Surcharge Cost: </p>
              <p style="margin-left:2px"> $0.90 </p>
            </div>
            <div
              style="display:flex;flex-direction:row;font-size: 11px;justify-content:space-around;margin-top:-15px;font-family: 'Open Sans';">
              <p> Cost per container: </p>
              <p style="margin-left:5px"> $3.30 </p>
            </div>
            <div
              style="display:flex;flex-direction:row;font-size: 11px;justify-content:space-around;margin-top:-15px;font-family: 'Open Sans';">
              <p> Staff discount:</p>
              <p style="margin-left:5px"> -10% </p>
            </div>
            <div
              style="display:flex;flex-direction:row;font-size: 16px;justify-content:space-around;font-family: 'Open Sans';">
              <p> Grand Total:</p>
              <p style="margin-left:88px"> $10.00 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>