

<ion-content>
  <div style="display:flex;flex-direction:column;align-items:center;margin-top:20%">
  <img src="../assets/ordercfm.png" width="65%"  />
  <h3 style="font-weight: 700;">Order Recieved </h3>
  <p style="opacity: 67%;width: 67%;font-size:12px;text-align:center;margin-top:18px">Thank you for your order. A notification will be sent to you once your order is ready. </p>

  <ion-button [routerLink]="['/tabs/home']"
  style="border-radius: 25px;color: #F5585C; width: 140px; height: 47px; margin-top: 125px;box-shadow: 5px 5px 5px lightgray;" color="primary">
  <ion-label
    style="color: white;text-transform: none;font-size: 15px;font-family: 'Sen', sans-serif;">
    <b>Continue</b>
  </ion-label>
</ion-button>
  </div>
</ion-content>
