

<ion-content>
  <div class="containerr">
  <div class="content">
<h1 class="headingg">Welcome Back!</h1>
<p class="subHeader">Sign in to continue</p>
</div>
<ion-textarea class="textField" placeholder="Email" id="user_email"  >
 
</ion-textarea>
<ion-textarea class="textFieldd" placeholder="Password"  id="user_password" type="password" style="">
 
</ion-textarea>
<ion-button style="border-radius: 25px;color: #F5585C; width: 120px; height: 50px; margin-top: 70px;" color="primary"><ion-label style="color: white;text-transform: none;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"><b>Login</b></ion-label></ion-button>
</div>


</ion-content>
