.headingg {
    font-weight: bold;
    font-size: 32px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: fit-content;
    margin-top: 70px;
    margin-left: 28px;
}

.subHeading {
  color: #979797;
  font-family: 'Roboto', sans-serif;
}
.containerr {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
   // height: 70px;
    flex-direction: column;
   // margin-top: 90px;
  
}

.textField {
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
  // width: 80%;
   // display: flex !important;
text-overflow: ellipsis;
white-space: nowrap;
overflow: 'hidden';
margin-top: 20px;

   // height: 65px;
}
.textFieldd {
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
  // width: 80%;
   // display: flex !important;
text-overflow: ellipsis;
white-space: nowrap;
overflow: 'hidden';
margin-top: 20px;
   // height: 65px;
}

.textField::-webkit-input-placeholder {
    text-align: center;
  }
  
  .textField:-moz-placeholder {
    text-align: center;
  }
  
  .textField::-moz-placeholder {
    text-align: center;
  }
  
  .textField:-ms-input-placeholder {
    text-align: center;
  }
  
  ion-button {
    --border-radius: 25px;
    }

    .switchh {
      color: #6F6F6F;
      font-size: 12px;
      margin-top: 50px;
    }
    .textboxxes {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    ion-textarea {
      --padding-top: 22px;
      --padding-bottom: 1px;
      --padding-start: 20px;
    }
    .iconn {
      height: 23px;
      margin-top: 10px;
      margin-left: 10px;
    }