<ion-content>
  <div *ngFor="let data of stallData">
    <img src="../assets/stallBackground.png" style="position: absolute;z-index: -1;width: 100%;">
    <img src="../assets/whiteback.png" class="iconn" [routerLink]="['/tabs/stalls']">
    <h3 style="font-size: 22px;font-weight: bold;color: #ffffff;display: flex;justify-content: center;text-shadow: grey 2px 2px;">
      {{data.stallName}}
    </h3>
    <div *ngFor="let data of stallMenu">
      <div *ngIf="data.foodId == foodID">

        <p class="subb">Estimated wait time {{data.foodEstTime}} mins </p>
      </div>
    </div>
  </div>
  <h2 class="headerr">Menu</h2>

  <ion-list>
    <div *ngFor="let data of stallMenu">
      
      <ion-card (click)="goToMenuDetails(data.foodId)">

        <ion-row>

          <ion-col size="4">
            <img src='../assets/nasiLemak.png' height="90px" width="90px" style="margin-bottom: 7px;margin-top: 7px;">
          </ion-col>

          <ion-col size="8">
            <ion-row>
              <ion-label
                style="background-color: transparent; font-size:18px ;color:black;font-weight:500; ">
               {{data.foodName}}
              </ion-label>
            </ion-row>
            <ion-row>
              <ion-label
                style="background-color:transparent; margin-top: 10px;font-weight:500;color:black;">
                $ {{data.foodPrice}}
              </ion-label>
            </ion-row>
         <!-- <ion-row>
              <ion-label
                style="background-color:transparent; margin-top: 10px;">
                {{data.foodDetails}}
              </ion-label>
            </ion-row> -->
          </ion-col>

        </ion-row> 

      </ion-card>

      <hr>

    </div>

  </ion-list>
</ion-content>