<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stalls">
      <ion-icon name="home"></ion-icon>
      <ion-label>Stalls</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart-selection">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="status">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
