.iconn{
    margin-top: 45%;
    height: 150;
    width: 150;
    }
    
    .centerr{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .espresso {
    height: 23;
    width: 120;
    margin-top: 20px;
    }
    
    .singtel{
        font-size: 12px;
        margin-top: -4px;
    }
    
     
    