ion-content ion-toolbar {
  --background: translucent;
}
.headerr {
  font-weight: bold;
  font-size: 28px;
  margin-left: 25px;
  margin-top: 30px;
}
.quantityy {
  font-weight: 500;
  display:flex;
}
