ion-content ion-toolbar {
  --background: translucent;
}
.headerr {
  font-weight: bold;
  font-size: 28px;
  margin-left: 25px;
  margin-top: 30px;
}
.quantityy {
  font-weight: 500;
  display:flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-end;
 position: absolute;
 margin-left: 285px;
  z-index: 9;
  transform: translateY(50px);
}

ion-button {
  --border-radius: 10px;
  box-shadow: 3px 5px 3px rgb(202, 201, 201);
  }
  ion-toggle {
    --background: lightgrey;
    --background-checked: #F5585C;
  
    --handle-background: #F5585C;
    
  }

  .pText {
    font-family: 'Open Sans', sans-serif;
    color: black;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #b3b3b3;
    margin: 1em 0;
    padding: 0;
    width: 80%;
    margin-top: -5px

  
}