<ion-header >
  <ion-toolbar style="background-color: #F1696C;">
    <ion-title>
      <div class="centerise">
      <img src="../assets/ESPRESSO.png" class="espresso">
    </div>
    </ion-title>
    <img src="../assets/profile.png" width="60" height="60" style="margin-right: 20px;margin-left: 30px;margin-top: 20px;">
    <p style="font-size: 21px;font-family: roboto; color: white;margin-right: 20px;margin-left: 26px;margin-top: 6px;"><b>Hi Jane,</b></p>
    <p style="font-size: 16px;color: white;;margin-right: 20px;margin-left: 23px;margin-top: -11px;">What's for lunch today?</p>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h2 class="headerr">Vendors</h2>
<div class="carddd">
 <ion-card style="margin-top: 18px;box-shadow: 3px 5px 3px rgb(184, 180, 180);border-radius: 2px;width:90%" [routerLink]="['/menu']" >
   <div style="display: flex;flex-direction: row;">
    <img src="../assets/malayStall.png" class="stalll">
    <div style="display: flex;flex-direction: column;">
      <h3 class="stallText">Malay Stall</h3>
      <p class="stallSub">Malay stall that sells malay food</p>
    </div>
   </div>
 </ion-card>
</div>
</ion-content>
