.headerr {
    font-weight: bold;
    font-size: 28px;
    margin-left: 25px;
    margin-top: 30px;
   
}

ion-button {
    --border-radius: 11px;
    
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
        width: 85%;
        margin-top: 60px;
        align-self: center;
    }
    