<ion-content>
  <ion-refresher slot="fixed" pull-factor="0.5" pull-min="100" pull-max="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pulling-icon="chevron-down-circle-outline" pulling-text="Pull to refresh"
      refreshing-spinner="circles" refreshing-text="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <h1 class="headerr">My Stalls (Cart)</h1>

  <div class="carddd" *ngFor="let stall of stallsCart">
    <ion-card style="margin-top: 18px;box-shadow: 3px 5px 3px rgb(184, 180, 180);border-radius: 2px;width:90%"
      (click)="goToStallCart(stall.id)">
      <div style="display: flex;flex-direction: row;">
        <img src="../assets/malayStall.png" class="stalll">
        <div style="display: flex;flex-direction: column;">
          <h3 class="stallText">{{stall.id}}</h3>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>