.headerr {
    font-weight: bold;
    font-size: 28px;
    margin-left: 25px;
    margin-top: 30px;
  }
  .carddd {
    display: flex;
    justify-content: center;
    margin-top: -11px;
   }
   
   .stallText {
     color: black;
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 19px;
     margin-left: 20px;
   }
   
   .stallSub {
     color: #3F3F3F;
     font-size: 16px;
     margin-left: 20px;
     width: 80%;
     font-family: inherit;
     margin-top: 2px;
   }
   .stalll {
     width: 135px;
   }