<ion-content *ngFor="let data of userInfo">
  <div style="display: flex;flex-direction: row;align-items: center;">
    <h1 class="headerr">Profile</h1>
  
  </div>
  <div class="sameLine">
    <img src={{data.photoURL}} width="80" height="80" style="margin-right: 20px;margin-left: 30px;">
    <div class="namePhoto">
      <h3 class="namee">{{data.displayName}}</h3>
      <p class="subb">Change Profile Photo</p>

    </div>

  </div>
  <hr>
  <div class="centerise">
    <div class="textboxxes">

      <ion-card class="textCard">
        <ion-item>
          <ion-icon name="mail-outline" style="margin-right: 8px;"></ion-icon>
          <ion-input name="Email" type="email" value={{data.email}} disabled></ion-input>

        </ion-item>
        <ion-icon name="create-outline" style="color: black;font-size: 16px;" [routerLink]="['/profile-email-edit']"
          enabled></ion-icon>
      </ion-card>

      <ion-card class="textCard1" *ngFor="let data of userData">
        <ion-item lines='none'>
          <ion-icon name="call-outline" style="margin-right: 8px;"></ion-icon>
          <ion-input name="Phone Number" type="number" value={{data.phoneNumber}} disabled></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="textCard1">
        <ion-item lines='none'>
          <ion-icon name="lock-closed-outline" style="margin-right: 8px;"></ion-icon>
          <ion-input name="Password" type="password" value="123456789" disabled></ion-input>

        </ion-item>
        <ion-icon name="create-outline" style="color: black;font-size: 16px;" [routerLink]="['/profile-password-edit']">
        </ion-icon>
      </ion-card>

      <ion-button (click)="presentAlert()"
        style="border-radius: 25px;color: #F5585C; width: 120px; height: 50px; margin-top: 39px;box-shadow: 5px 5px 5px lightgray;"
        color="primary">
        <ion-label style="color: white;text-transform: none;font-size: 16px;font-family: 'Sen', sans-serif;">
          <b>Logout</b>
        </ion-label>
      </ion-button>
    </div>
  </div>

</ion-content>