<ion-content>
  <ion-refresher slot="fixed" pull-factor="0.5" pull-min="100" pull-max="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pulling-icon="chevron-down-circle-outline" pulling-text="Pull to refresh"
      refreshing-spinner="circles" refreshing-text="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <div style="display: flex;flex-direction: row;">
      <img src="../assets/backk.png" class="iconn" [routerLink]="['/tabs/status']">
      <ion-col>
        <ion-row>
          <p style="display: flex;width: 85%;align-items: center;justify-content:
          center;"> {{stallId}}</p>
        </ion-row>
        <ion-row>
          <p style="display: flex;width: 85%;align-items: center;justify-content:
          center;">Order ID #{{orderId}}</p>
        </ion-row>
      </ion-col>
    </div>

    <div *ngFor="let vendorDetail of vendorData">
      <div style="display: flex;margin-top: 25px; align-items:
        center;justify-content: center;margin-right: 50px;">
        <img src={{vendorImg}} style="height: 80px; width: 80px; border-radius: 15px;">
        <h4 style="margin-left: 28px;">{{vendorDetail.firstName}} {{vendorDetail.lastName}}
        </h4>
      </div>
      <div style="display: flex;align-items: center;justify-content:
        center;margin-top: 5px;">
        <ion-card class="textCard1">
          <ion-item lines='none'>
            <ion-icon name="call-outline" style="margin-right: 8px;color:
              white;"></ion-icon>
            <p> &nbsp; {{vendorDetail.phoneNumber}}</p>
          </ion-item>
        </ion-card>
      </div>
    </div>
  </div>

  <div *ngFor="let itemData of orderedItemData">
    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;margin-bottom: -2px;">
      <div
        style="display: flex;flex-direction: row;align-items: center;justify-content: center;margin-bottom: -2px;width: 100%;;">
        <div style="width: 80%;">
          <ion-row>
            <p
              style="font-weight: bold;margin-right: 15px;white-space: nowrap;width: 40%;overflow: hidden;text-overflow: ellipsis;margin-left: 10px;">
              {{itemData.foodName}}</p>
            <p>x{{itemData.foodQty}}</p>
            <p style="margin-left:60px">${{itemData.foodPrice}}</p>
            <hr>
          </ion-row>
          <div *ngFor="let addon of itemData['addon']" style="display: flex;flex-direction: column;">
            <div style="display: flex;flex-direction: row;">
            <p style="font-weight: 200;margin-right: 15px;white-space:
          nowrap;width: 100%;overflow: hidden;text-overflow:
          ellipsis;margin-left: 10px;font-size: 12px;margin-top: -1px;">+{{addon.addOnTitle}} </p>
                          <p style="font-weight: 200;white-space:
                          nowrap;width: 100%;overflow: hidden;text-overflow:
                          ellipsis;margin-left: 116px;font-size: 12px;margin-top: -1px;">+${{addon.addOnPrice}}</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let data of orderData">
    <h3 style="font-weight:300;font-size:19px;display:flex;justify-content:center;;">Status: <b
      style="margin-left:11px;">{{data.Status}}</b></h3>
      <div
      style="display:flex;flex-direction:row;font-size: 14px;justify-content:space-around;margin-top:5px;font-family: 'Open Sans';">
      <p> Subtotal: </p>
      <p style="margin-left:50px"> ${{data.Subtotal}} </p>
    </div>
    <div
      style="display:flex;flex-direction:row;font-size: 14px;justify-content:space-around;margin-top:-15px;font-family: 'Open Sans';margin-left: -6px;">
      <p> Surcharge Cost: </p>
      <p style="margin-left:2px"> ${{data.Surcharge}}</p>
    </div>
    <hr style="align-self: center;width: 80%;opacity: 60%;background-color: black;margin-left: 9%;">
    <div style="display:flex;flex-direction:row;font-size: 16px;justify-content:space-around;font-family: 'Open Sans';margin-top: -20px;margin-bottom: 15px;">

      <p> Grand Total:</p>
      <p style="margin-left:8px">  ${{data.GrandTotal}} </p>
    </div>
  
  
  </div>

</ion-content>