.headingg {
    font-weight: bold;
    font-size: 32px;
    width: 55%;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    margin-bottom: 5px;
}
.content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: fit-content;
    margin-top: 10%;
}


.containerr {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
   // height: 70px;
    flex-direction: column;
    height: 70%;
   // margin-top: 90px;
  
}

.textField {
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
 //  width: 80%;
   // display: flex !important;
text-overflow: ellipsis;
white-space: nowrap;
overflow: 'hidden';
margin-top: 20px;

   // height: 65px;
}
.textFieldd {
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
 //  width: 80%;
   // display: flex !important;
text-overflow: ellipsis;
white-space: nowrap;
overflow: 'hidden';
margin-top: 20px;
   // height: 65px;
}

.textField::-webkit-input-placeholder {
    text-align: center;
  }
  
  .textField:-moz-placeholder {
    text-align: center;
  }
  
  .textField::-moz-placeholder {
    text-align: center;
  }
  
  .textField:-ms-input-placeholder {
    text-align: center;
  }
  
  ion-button {
    --border-radius: 25px;
    }
    .namee {
        display: flex;
    }
    .textboxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2px;
        width: 80%;
    }
    .textFieldF {
        border-radius: 25px;
        box-shadow: 4px 4px 4px rgb(158, 156, 156);
      
       // display: flex !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: 'hidden';
    //transform: translateX(5px);
    transform: translateX(-6px);
    width: 88%;
    
    //width: 161px;
    
       // height: 65px;
    }
    .textFieldL {
        border-radius: 25px;
        box-shadow: 4px 4px 4px rgb(158, 156, 156);
       
       // display: flex !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: 'hidden';
    width: 203px;
    transform: translateX(-1px)
    //width: 125px;
    
       // height: 65px;
    }
    .switchh {
      color: #6F6F6F;
      font-size: 12px;
      margin-top: 20px;
    }
    ion-textarea {
      --padding-top: 22px;
      --padding-bottom: 1px;
      --padding-start: 20px;
    }
    .iconn {
      height: 23px;
      margin-top: 10px;
      margin-left: 10px;
    }

    .textCard1 {
      border-radius: 25px;
      width: 105%;
      box-shadow: 4px 4px 4px rgb(158, 156, 156);
      margin-top: 15px;
      padding: 3px;
  }
  .subHeading {
    color: #979797;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    font-size: 15px;
  }
  .textCard {
    border-radius: 25px;
    width: 105%;
    box-shadow: 4px 4px 4px rgb(158, 156, 156);
    margin-top: 15px;
    padding: 3px;
}

ion-item {

    --border-width: 0;
    --inner-border-width: 0;
}
