<ion-content>
  <img src="../assets/backk.png" class="iconn" [routerLink]="['/login-or-register']">
  <div class="containerr">
    <div class="content">
      <p class="headingg">Enter email to reset password!</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetPasswordEmail()">
      <ion-card class="textFieldF">
        <ion-item>
          <ion-icon name="person-outline" style="margin-right: 8px;"></ion-icon>
          <ion-input name="email" type="email" formControlName="email" placeholder="Email" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-button type="submit"
        style="border-radius: 25px;color: #F5585C; width: 100%; height: 50px; margin-top: 42px; box-shadow: 5px 5px 5px lightgray;"
        color="primary">
        <ion-label style="color: white;text-transform: none;font-size: 16px;font-family: 'Sen', sans-serif;">
          <b>Send email!</b>
        </ion-label>
      </ion-button>
    </form>

  </div>

</ion-content>